@model IndexViewModel

@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center text-myWhite">
    <p class="mb-2" style="font-size: 29px"><Font face="Times New Roman">We have:</Font></p>
    <ul class="list-inline" style="font-size: 18px;">
        <li class="list-inline-item bg-transparent">Fragrances: @Model.FragrancesCount</li>
        <li class="list-inline-item bg-transparent ml-2">Comments: @Model.CommentsCount</li>
        <li class="list-inline-item bg-transparent ml-2">Users: @Model.UsersCount</li>
    </ul>

</div>
<div class="mb-3"></div>

<div>
    <img src="~/goodgirl.jpg" class="img-thumbnail" style="height: 176px;" alt="Good Girl CH">
    <img src="~/creed.jpg" class="img-thumbnail" style="height: 176px;" alt="Aventus Creed">
    <img src="~/dior.jpg" class="img-thumbnail" style="height: 176px;" alt="Dior Homme Intense">
    <img src="~/libre.jpg" class="img-thumbnail" style="height: 176px;" alt="YSL Libre">
    <img src="~/y.jpg" class="img-thumbnail" style="height: 176px;" alt="YSL Y EDP">
    <img src="~/you.jpg" class="img-thumbnail" style="height: 176px;" alt="Armani Stronger with You">
    <img src="~/lemale.jpg" class="img-thumbnail" style="height: 176px;" alt="Le Male Elixir JPG">
    <img src="~/myway.jpg" class="img-thumbnail" style="height: 176px;" alt="Armani My Way">
</div>
       
<div class="mb-3"></div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/1.jpg" alt="First slide">
        </div>
    </div>
</div>
